<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
    </head>
<body style="margin-top: 250px; background-color: rgb(128, 128, 128);">

<!-- <h1>The button Element</h1> -->
<center>
    <h1 style="font-family: Arial;">Select Developer</h1> 
<button class = "dropbtn" style="color: black ; font-weight: bold;" type="button" onclick="window.location.href='/mohsin'">Abdul Mohsin</button>
<button class = "dropbtn" style="color: black ; font-weight: bold;" type="button" onclick="window.location.href='/jalil'">Abdul Jalil</button>
<button class = "dropbtn" style="color: black ; font-weight: bold;" type="button" onclick="window.location.href='/angela'">Angela Avetisyan</button>
<button class = "dropbtn" style="color: black ; font-weight: bold;" type="button" onclick="window.location.href='/narek'">Narek Poghosyan</button>
</center>
</body>
</html>